.logo-panel {
    position: absolute;
    width: 100vw;
    top: 94vh;
    display: inline;
}

.right_text {
    text-align: center;
    margin-left: 3.9%;
    width: 48%;
    float: left;
    font-weight: 800;
}

.left_text {
    text-align: center;
    margin-left: 51.9%;
    width: 48%;
    font-weight: 800;
}

.name-wrapper {
    background-color: white;
    min-width: 20%;
    max-width: 30%;
    border-radius: 10px;
    margin-left: 5px;
}
